<!--Sidenav ref: https://zoaibkhan.com/blog/create-a-responsive-sidebar-menu-with-angular-material/ -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
</style>

<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button> Meal Planner
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="/meals">
            <mat-icon>local_dining</mat-icon>
            <span>Meals</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="/list">
            <mat-icon>local_grocery_store</mat-icon>
            <span>Shopping List</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="/planning">
            <mat-icon>list</mat-icon>
            <span>Meal Planning</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>