<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="spacer__smaller"></div>
    <a id="title" [routerLink]="['/calendar']" routerLinkActive="router-link-active">Meal Planner</a>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <a [routerLink]="['/view']" routerLinkActive="router-link-active">View Recipes</a>
    <div class="spacer__smaller"></div>
    <a [routerLink]="['/add']" routerLinkActive="router-link-active">Add Recipe</a>
    <div class="spacer__smaller"></div>
    <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
    <div class="spacer__smaller"></div>
</div>

<!--Main Content-->
<div class="content" role="main">
    <router-outlet></router-outlet>
</div>