h3 {
    margin: 0 0 10px;
    font-size: 20pt;
}

pre {
    padding: 15px;
}

#calendar {
    width: 900px;
}

button {
    position: relative;
    top: -10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 1px solid rgb(161, 160, 160);
    background-color: transparent;
}

span {
    font-size: 25pt;
    padding: 10px;
}

.col-md-4 {
    text-align: center;
}