<table id="calendar-month">
    <tr>
        <td>
            <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                &lt;
            </button>
        </td>
        <td><span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span></td>
        <td>
            <button class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                &gt;
            </button>
        </td>
    </tr>
</table>

<br>

<div id="calendar" [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day">
    </mwl-calendar-day-view>
</div>